@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: linear-gradient(0deg, white 50%, #6cc7eb 100%);
  background-size: 200% 200%; /* Essential for the animation */
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 05% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

::selection {
  color: navy;
  text-shadow: 0 0 8px #87ceeb;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: linear-gradient(0deg, black 0%, #0d0d0d 100%);
    background-size: 200% 200%; /* Essential for the animation */
    animation: gradientBG 15s ease infinite;
  }
  ::selection {
    color: #ffdab9;
    text-shadow: 0 0 4px yellow;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
